<h2 class="title">Transaction details</h2>
<hr />
<div *ngIf="transaction; else noDetailsFound">
  <div class="details-container">
    <div class="transaction-item">
      <span class="key"> Amount </span>
      <span
        [ngClass]="{
          amount: true,
          value: true,
          credit: transaction.amount > 0,
          debit: !(transaction.amount > 0)
        }"
      >
        {{ transaction.amount > 0 ? "+" : ""
        }}{{
          getAmountInEuros(transaction)
            | currency : "EUR " : "code" : ".2-2" : "de"
        }}
      </span>
    </div>

    <div class="transaction-item" *ngIf="transaction?.otherParty">
      <span class="key"> Account Name </span>
      <span class="value">
        {{ transaction.otherParty?.name }}
      </span>
    </div>

    <div class="transaction-item" *ngIf="transaction?.otherParty">
      <span class="key"> Account number </span>
      <span class="value">
        {{ getFriendlyFormatIBAN(transaction.otherParty?.iban) }}
      </span>
    </div>

    <div class="transaction-item">
      <span class="key"> Description </span>
      <span class="value">
        {{ transaction.description }}
      </span>
    </div>
    <div class="transaction-item">
      <span class="key"> Date </span>
      <span class="value">
        {{ transaction.timestamp | date : "EE, MMMM d, y H:MM a" }}
      </span>
    </div>
  </div>
</div>

<ng-template #noDetailsFound>
  <div class="transaction-item">
    <a routerLink="" class="sub-title">
      No details found, go to transactions.</a
    >
  </div>
</ng-template>
